<div>
<hr>
</div>

{% schema %}
{
  "name": "Divider",
  "tag": "section",
  "class": "section section-divider",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Divider"
    }
  ]
}
{% endschema %}