draggable-menu {
    display: block;
    position: fixed;
    width: 80px;
    height: 80px;
    z-index: 999;
}

    .menu-drawer__navigation {
        display: none;
        background: rgb(48,48,51);
    background: linear-gradient(90deg, rgba(48,48,51,1) 0%, rgba(155,153,157,1) 100%);
        border-radius:20px;
        width: fit-content;
        margin:auto;
    }

.menu {
    display: block!important;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: lightgray; */
    background-image: url(https://cdn.shopify.com/s/files/1/0794/5106/2557/files/Menu_Buttons.png?v=1697635184);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    transition: top 0.3s, left 0.3s; /* Smooth transition for top and left properties */
    /* bottom:50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}
li.menu-item {
    font-family: 'BlackMango-Regular';
    font-size: 2rem;
}

li.menu-item.menu-item2 {
    font-family: 'Avenir Regular';
    font-size: 1rem;
    letter-spacing: .5rem;
}
.point {
    width: 30px;
    height: 30px;
    /* background-color: red; */
    position: absolute;
}

.point.left {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.point.bottom-left {
    bottom: 30px;
    left: 20px;
}

.point.bottom {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.point.bottom-right {
    bottom: 30px;
    right: 20px;
}

.point.right {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* MENU STYLE */
ul.menu-list {
    display: none;
    position: absolute;
    top: -350px;
    /* background: rgb(79,85,78);
    background: linear-gradient(130deg, rgba(79,85,78,1) 0%, rgba(71,77,78,1) 43%, rgba(151,174,188,1) 100%); */
    background-image: url(https://cdn.shopify.com/s/files/1/0794/5106/2557/files/Menu_Box_-_no_text.png?v=1697635138);
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    left: -60px;
    right: 0;
    margin: auto;
    width: 100%;
    min-width: 240px;
    transition: all 1s linear;
    box-shadow: 3px 3px 15px #585858;
}

.menu-open ul.menu-list {
    display: flex;
    flex-direction: column;
    transition: all 1s linear;
}

ul.menu-list li.menu-item {
    width: max-content;
    margin: auto;
}

li.search-bar{
    margin-bottom: 30px!important;
}
/* Hide submenu items by default */
.menu-item .submenu {
    display: none;
    flex-direction: column;
    margin-top: 10px;
}

/* Style for submenu items when they are visible */
.menu-item .submenu.open {
    display: flex;
}

li.menu-item.menu-item2 {
    margin-top: 30px!important;
}
li.menu-item.menu-item2 a{
    text-transform: uppercase!important;
}

li.menu-item.menu-item2:last-child {
    margin-top: 0!important;
}

ul.menu-list li:hover {
    list-style-type: initial;
}

ul.menu-list a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

li.search-bar:hover {
    list-style-type: none!important;
}

ul.submenu {
    list-style: none;
    padding: 0;
    margin: auto;
}

li.menu-item.has-children {
    text-align: center;
}

ul.submenu .menu-item a {
    font-family: Avenir Regular;
    font-size: 1rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

ul.submenu li.menu-item {
  line-height: 2rem;
}
ul.submenu li.menu-item::marker {
    font-size: 1rem;
}

/* SEARCH BAR */
.template-search {
    height: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    /* max-width: 250px; */
}
form#custom-search-form {
    display: flex;
    align-content: flex-start;
    gap: 20px;
}

#custom-search-form button {
    border: none;
    background: unset;
}

#custom-search-form button svg {
    color: #fff;
    width: 20px;
    height: auto;
}

#custom-search-form 
 input#search {
    color: #fff;
    background: unset;
    border: none;
}

#custom-search-form input#search:focus-visible {
    border: none!important;
    box-shadow: none;
    outline: none;
}

#custom-search-form input#search::placeholder {
    color: #ffffff96;
    font-style: italic;
}

.template-search svg {
    color: #fff;
}
.search-box svg {
    width: 20px;
    height: 20px;
}

div#search-icon .open-search-box {
    display: block;
}
div#search-icon .close-search-box {
    display: none;
}
div#search-icon .close-search-box svg{
    width: 15px;
    height: 15px;
}


div#search-icon[data-open-search] .close-search-box {
    display: block;
}
div#search-icon[data-open-search] .open-search-box {
    display: none;
}
div#search-icon {
color: #fff;
}

.template-search__header {
    display: none;
}

div#search-icon[data-open-search]~.template-search__header{
    display: block;
}

.template-search .field:before {
    display: none;
}

.template-search .field:after {
    display: none;
}

.template-search label.field__label {
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}

.template-search input#Search-In-Template {
    background: transparent;
    padding-right: 1.5rem;
    color: #fff;
}

.template-search input#Search-In-Template:focus-visible{
    box-shadow: unset;
}

.template-search input#Search-In-Template:focus-visible~label.field__label{
    opacity: .5;
}

.predictive-search {
    max-height: 400px!important;
}

/* Position search block */
.predictive-search.predictive-search--search-template {
    width: 560px;
    left: -21rem;
}

@media (max-width:480px){
    .predictive-search.predictive-search--search-template {
        width: 300px;
        left: -70px;        
    }
}