.functions-collection-wrapper .card__heading a:after {
    display: none;
}
.functions-collection-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
}

.functions-product-grid-section .card-view-product {
    border: 1px solid;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    margin-top: 40px;
}

.functions-product-grid-section .card-information {
    text-align: justify;
}

.functions-product-grid-section h3.card__heading.h5 {
    font-family: BlackMango-Regular;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 20px;
}
.functions-product-grid-section .card-information {
    font-size: 1.6rem;
}

.functions-product-grid-section .grid {
    column-gap: 10rem;
    row-gap: 10rem;
}

.functions-product-grid-section .card__information {
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 2rem;
}

@media screen and (min-width: 750px){
    .functions-product-grid-section .card__information {
        padding-top: 4rem;
    }
    .functions-product-grid-section h3.card__heading.h5 {
        font-size: 4rem;
    }

    .functions-collection-wrapper {
        padding-left: 25rem;
        padding-right: 25rem;
    }

    .functions-product-grid-section .grid--2-col-desktop .grid__item {
        width: calc(50% - 4rem);
        max-width: calc(50% - 6rem);
    }
    .functions-product-grid-section .grid {
        column-gap: 12rem;
        row-gap: 12rem;
    }
}
