.collection-list {
  margin-top: 0;
  margin-bottom: 0;
  /* display: flex;
  column-gap: 20px; */
  width: 75%;
  margin: auto;
}

@media screen and (min-width: 750px) {
  .list-collections .collection-list.grid {
    column-gap: 8.35em;
    row-gap: 8.35em;
  }
}

.collection-list .card--card:after, 
.collection-list .card--standard .card__inner:after {
  background: unset;
  box-shadow: unset;
}

.collection-list .card--card, 
.collection-list .card--standard .card__inner {
  background-color: unset;
}

.collection-list .card__media .media img {
  object-fit: contain;
}

.collection-list-title {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .flickity-prev-next-button{
    display: none;  
  }

  .feature-collection .flickity-prev-next-button, .section-collection-list .flickity-prev-next-button {
    top: 35%;
    display: block;  
  }
  
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
  .collection-list-view-all {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.collection-list-view-all a {
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 50px;
  line-height: unset;
  padding: 10px 35px;
  min-height: unset;
}

